body{
    margin: 0;
    padding: 0;
    background-image: url(../img/bg_loop.jpg);
    
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box
}


.container{
    width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}








header{
    padding: 39px 0;
    background-color: #fcfc79;
    width: 100%;
    

}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    width: 100px;
}

.logo-inner{
    display: flex;
    align-items: center
}

.logo-text{
    margin-right: 10px;
    width: 208px;
    display: block
}

.logo-text h1{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 43px;
    color: #000;
    display: inline-block;
    text-transform: uppercase;
}

.logo-text span{
    font-family: Bradley;
    font-weight: 400;
    font-size: 34.22px;
    color: #d94747;
    text-transform: uppercase;
    align-self: flex-end
}












/*main
==============================*/
main{
   padding: 128px 0;
    background-color: #9b8d8d;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg_loop.jpg);
    
}

.title{
    font-weight: 400;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-family: Bebas Neue;
    line-height: 42px;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 30px;
    
}

.contacts_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-item{
    width: 40%;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.contact-item-right{
    height: 300px;
    border: 2px solid #fff;
/*    position: relative*/
    padding: 0;
    overflow: hidden;
    cursor: zoom-in
}

.contact-item-right img{
    width: 100%;
    cursor: zoom-in
}

.contact-item a:hover{
    color: #000;
}

.contact-item a{
    color: #fff;    
    margin-bottom: 30px;
    text-decoration: none;
    transition: .4s ease;
    text-decoration: underline
}

.tel{
    color: #fff;    
    margin-bottom: 30px;
    text-decoration: none;
    transition: .4s ease;
    font-family: Montserrat;
    font-weight: 100;
}

.mail{
    color: #fff;
    margin-bottom: 30px;
    text-decoration: none;
    transition: .4s ease;
    font-family: Montserrat;
    font-weight: 100;
}

.address{
    color: #fff;    
    margin-bottom: 30px;
    font-family: Montserrat;
    transition: .4s ease ;
    font-weight: 100;
}




















/*nav
==============================*/
nav{
    display: flex;
    align-items: center;
    
}

nav .link{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 19px;
    color: #000;
    margin-left: 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s ease
}

.link:hover{
    transform: translateY(-3px);
    color: #fff;
}

.active{
    position: relative;
    
}

.active:hover{
    transform: none;
    color: #000    
}

.active::after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #000;
}
























/*footer
==============================*/
footer{
    padding: 12px 0;
    background-color: #fcfc79;
    
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    color: #000;
    display: flex;
    flex-direction: column;
    
}

.footer-item h3{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    color: #000;
    line-height: 24px;
}

.footer-item a{
    color: #000;
    line-height: 24px;
    transition: .3s linear
}

.footer-item a:hover{
    color: #fff;
}

.copiryght{
    width: 100%;
    padding: 10px 0;
    background-color: #4e4e4e;
}

.copiryght h1{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    color: #fff;
    text-align: center;
    font-family: Lato;
}












.burger{
    background-color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 30px;
    right: 10px;
    cursor: pointer;
    display: none;
    opacity: .8;
    z-index: 40;
}


.burger .span{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -8px;
    background-color: #000;
    width: 16px;
    height: 2px;
    transition: .2s ease
}

.burger .span::before, .span::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -8px;
    background-color: #000;
    width: 16px;
    height: 2px;
    transition: .2s ease
}

.burger .span::before{
    transform: translateY(-5px)
}

.burger .span::after{
    transform: translateY(5px)
}

.burger_active .span{
    background-color: transparent;
}

.burger_active .span::before{
    transform: translateY(0) rotate(135deg)
}

.burger_active .span::after{
    transform: translateY(0) rotate(-135deg)
}





.menu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 30;
    background-color: #fcfc79;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s ease
}

.menu a{
    display: block;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-family: Lato;
    text-decoration: none;
}

.menu a:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.menu_active{
    right: 0;
}





























@font-face{
    font-family: Bradley;
    src:url('../fonts/Bradley Hand ITC.TTF') 
}


@media screen and (max-width: 1440px){
    .galery{
        grid-template-columns: repeat(16, 60px)
    } 
}

@media screen and (max-width: 1300px){
    .container{
        width: 1100px;
    }  
}

@media screen and (max-width: 1100px){
    .container{
        padding: 0 10px;
        width: 1000px;
    }
    
    .galery{
        grid-template-columns: repeat(16, 50px);
        grid-template-rows: repeat(4, 111px);
    } 
}

@media screen and (max-width: 988px){
    .container{
        padding: 0px;
        width: 780px;
    }
    
    .galery{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } 
    
    .galery-item{
        width: 40%;
    }
    
    .footer-item h3,a{
        font-size: 10px;
    }
    
    nav .link{
        font-size: 10px;
    }
}

@media screen and (max-width: 780px){
    .container{
        width: 680px;
        padding: 0 10px;
        margin: 0 auto;
    }
    
    .title{
        font-size: 24px;
    }
    
    .galery{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } 
    
    .galery-item{
        width: 40%;
    }
    
    .footer-item h3,a{
        font-size: 10px;
    }
    
    nav{
        display: none
    }
    
    .burger{
        display: block
    }
    
    .logo-text{
        display: block
    }
    
    .logo{
        display: none
    }
    
    .contacts_inner{
        align-items: center
    }
    
    .contact-item-right{
        display: none
    }
    
    .contact-item{
        width: 100%;
        mb30
    }
}

@media screen and (max-width: 682px){
    .container{
        width: 500px;
    }
}

@media screen and (max-width: 520px){
    .container{
        width: 400px;
    }
}

@media screen and (max-width: 406px){
    .container{
        width: 300px;
    }
}






















